.env
.env.*
!.env.example
!**/.env.example

node_modules/
vendor/

dist/
dist-ssr/
build/
public/build/
public/hot

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

*.sqlite
*.sqlite3
*.dump
*.sql
*.bak

*.pem
*.key
*.p12
*.pfx
auth.json

.phpunit.cache/
.phpunit.result.cache
.phpactor.json

**/storage/logs/*
!**/storage/logs/.gitignore
**/storage/app/private/*
!**/storage/app/private/.gitignore
**/storage/framework/cache/data/*
!**/storage/framework/cache/data/.gitignore
**/storage/framework/sessions/*
!**/storage/framework/sessions/.gitignore
**/storage/framework/testing/*
!**/storage/framework/testing/.gitignore
**/storage/framework/views/*
!**/storage/framework/views/.gitignore
**/storage/*.key

.DS_Store
Thumbs.db

.fleet/
.idea/
.nova/
.vscode/
.zed/
